<div id="graph">

</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-quadtree@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-force@3"></script>
<script>
    const nodes = {{nodes | json_encode() | safe}};
    const links = {{links  | json_encode() | safe}};
</script>
<script src="/static/graph.js"></script>

<style>
    #graph {
        width: 100%;
        height: 100vh;
    }
</style>